<head>
    <title>Ted Baker London | Designer Clothing and Accessories</title>
</head>

<% if (success) { %>
  <div class="alert success"><%= success %></div>
<% } %>

<% if (error) { %>
  <div class="alert error"><%= error %></div>
<% } %>


<div class="Banner">
    <a href="#" title="Homepage Banner"><img src="/css/downloaded_images/Homepage_banner_EOSS_desktop_USA.png"
            alt="Homepage-Banner"></a>
</div>

<div class="Shop-by-Gender">
    <a href="#" title="Shop Women's Sale"><img src="/css/downloaded_images/Special_JPG-278040_BLACK_2.jpg"
            alt="Woman"></a>
    <a href="#" title="Shop Men's Sale"><img src="/css/downloaded_images/276651_NAVY_2.jpg" alt="Man"></a>
</div>

<div class="Shop-by-Gender-Heading">
    <a href="#" title="Shop Women's Sale">
        <p>SHOP WOMEN'S SALE</p>
    </a>
    <a href="#" title="Shop Men's Sale">
        <p>SHOP MEN'S SALE</p>
    </a>
</div>


<div class="Sales-Section">

    <a href="#" title="Sales Details"><img src="/css/downloaded_images\US_Web_Desktop-Stay-Save_12-23-24_rev.png"
            alt="Sales-Details"></a>

    <div class="Sales-Button">
        <a href="#" class="Button" title="Shop Women">
            <span>SHOP WOMEN</span>
            <img src="/css/downloaded_images/arrow_right_alt_24dp_CCCCCC_FILL0_wght100_GRAD0_opsz24.svg"
                alt="Sales-Details">
        </a>

        <a href="#" class="Button" title="Shop Men">
            <span>SHOP MEN</span>
            <img src="/css/downloaded_images/arrow_right_alt_24dp_CCCCCC_FILL0_wght100_GRAD0_opsz24.svg"
                alt="Sales-Details">
        </a>
    </div>
</div>


<div class="Shop-Favorites">
    <div class="Shop-Favorites-Heading">
        <p>Shop Favorites</p>
    </div>
    <div class="images">
        <div class="item">
            <a href="#"><img src="/css/downloaded_images/Special_JPG-278008_BLACK_1.jpg" alt="Women's Dresses"></a>
            <p class="label">Women's Dresses</p>
        </div>
        <div class="item">
            <a href="#"><img src="/css/downloaded_images/Hires_PNG-276643_BROWN_1.png" alt="Men's Tops"></a>
            <p class="label">Men's Tops</p>
        </div>
        <div class="item">
            <a href="#"><img src="/css/downloaded_images/Special_JPG-277645_611_2.jpg" alt="Women's Co-ords"></a>
            <p class="label">Women's Co-ords</p>
        </div>
        <div class="item">
            <a href="#"><img src="/css/downloaded_images/Hires_PNG-272637_410_1.png" alt="Men's Shirts"></a>
            <p class="label">Men's Shirts</p>
        </div>
    </div>
</div>


<div class="Women-Carousel">
    <p>WOMEN'S NEW ARRIVALS</p>
    <div class="carousel">
        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1107213_001_1.png" class="default-image" alt="KHLOE">
                    <img src="/css/downloaded_images/Hires_PNG-1107213_001_2.png" class="hover-image" alt="KHLOE">
                </div>
            </a>
            <p class="label"><a href="#">KHLOE</a></p>
            <p class="desc"><a href="#">Leather metal frame top handle bag</a></p>
            <p class="desc"><a href="#">$225</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1107211_711_1.png" class="default-image" alt="CYRA">
                    <img src="/css/downloaded_images/Hires_PNG-1107211_711_2.png" class="hover-image" alt="CYRA">
                </div>
            </a>
            <p class="label"><a href="#">CYRA</a></p>
            <p class="desc"><a href="#">Metallic leather padlock crossbody bag</a></p>
            <p class="desc"><a href="#">$175</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1107211_968_1.png" class="default-image" alt="CYRA">
                    <img src="/css/downloaded_images/Hires_PNG-1107211_968_2.png" class="hover-image" alt="CYRA">
                </div>
            </a>
            <p class="label"><a href="#">CYRA</a></p>
            <p class="desc"><a href="#">Metallic print padlock crossbody bag</a></p>
            <p class="desc"><a href="#">$175</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1100198_047_1.png" class="default-image" alt="CYRA">
                    <img src="/css/downloaded_images/Hires_PNG-1100198_047_2.png" class="hover-image" alt="CYRA">
                </div>
            </a>
            <p class="label"><a href="#">SUKICON</a></p>
            <p class="desc"><a href="#">Metallic croc structure wide icon tote bag</a></p>
            <p class="desc"><a href="#">$95</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106650_001_1.png" class="default-image" alt="BELLE">
                    <img src="/css/downloaded_images/Hires_PNG-1106650_001_2.png" class="hover-image" alt="BELLE">
                </div>
            </a>
            <p class="label"><a href="#">BELLE</a></p>
            <p class="desc"><a href="#">Bow embellishment satin heeled sandals</a></p>
            <p class="desc"><a href="#">$180</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1102718_968_1.png" class="default-image" alt="CHARLOTTE">
                    <img src="/css/downloaded_images/Hires_PNG-1102718_968_2.png" class="hover-image" alt="CHARLOTTE">
                </div>
            </a>
            <p class="label"><a href="#">CHARLOTTE</a></p>
            <p class="desc"><a href="#">Floral printed pointed toe heeled pumps</a></p>
            <p class="desc"><a href="#">$150</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106659_001_1.png" class="default-image"
                        alt="LOLA T-BUCKLE">
                    <img src="/css/downloaded_images/Hires_PNG-1106659_001_2.png" class="hover-image"
                        alt="LOLA T-BUCKLE">
                </div>
            </a>
            <p class="label"><a href="#">LOLA T-BUCKLE</a></p>
            <p class="desc"><a href="#">T buckle leather slingback heeled pumps</a></p>
            <p class="desc"><a href="#">$190</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106651_342_1.png" class="default-image"
                        alt="MADDY RUCHE">
                    <img src="/css/downloaded_images/Hires_PNG-1106651_342_2.png" class="hover-image" alt="MADDY RUCHE">
                </div>
            </a>
            <p class="label"><a href="#">MADDY RUCHE</a></p>
            <p class="desc"><a href="#">Printed satin block heeled sandals</a></p>
            <p class="desc"><a href="#">$175</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/TBJ3679-01-03_PS_2_HQ.jpg" class="default-image" alt="HULIET">
                    <img src="/css/downloaded_images/TBJ3679-01-03_MS_1_HQ.jpg" class="hover-image" alt="HULIET">
                </div>
            </a>
            <p class="label"><a href="#">HULIET</a></p>
            <p class="desc"><a href="#">Multi hoop drop earrings</a></p>
            <p class="desc"><a href="#">$75</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Special_JPG-TBJ3651-02-03_1.jpg" class="default-image"
                        alt="DOTETTA">
                    <img src="/css/downloaded_images/Special_JPG-TBJ3651-02-03_4.jpg" class="hover-image" alt="DOTETTA">
                </div>
            </a>
            <p class="label"><a href="#">DOTETTA</a></p>
            <p class="desc"><a href="#">Dotted texture hoop earrings</a></p>
            <p class="desc"><a href="#">$55</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-274218_402_1.png" class="default-image" alt="BACINA">
                    <img src="/css/downloaded_images/Hires_PNG-274218_402_2.png" class="hover-image" alt="BACINA">
                </div>
            </a>
            <p class="label"><a href="#">BACINA</a></p>
            <p class="desc"><a href="#">Lace 3/4 balloon sleeve blouse</a></p>
            <p class="desc"><a href="#">$245</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-269451_103_1.png" class="default-image" alt="ABALY">
                    <img src="/css/downloaded_images/Hires_PNG-269451_103_2.png" class="hover-image" alt="ABALY">
                </div>
            </a>
            <p class="label"><a href="#">ABALY</a></p>
            <p class="desc"><a href="#">Metallic knitted short sleeved top</a></p>
            <p class="desc"><a href="#">$225</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-266122_115_4.png" class="default-image" alt="CILESTE">
                    <img src="/css/downloaded_images/Hires_PNG-266122_115_1.png" class="hover-image" alt="CILESTE">
                </div>
            </a>
            <p class="label"><a href="#">CILESTE</a></p>
            <p class="desc"><a href="#">Fitted v-neck long sleeve knit top</a></p>
            <p class="desc"><a href="#">$175</a></p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-277286_NAVY_1.png" class="default-image" alt="AGATEA">
                    <img src="/css/downloaded_images/Hires_PNG-277286_NAVY_2.png" class="hover-image" alt="AGATEA">
                </div>
            </a>
            <p class="label"><a href="#">AGATEA</a></p>
            <p class="desc"><a href="#">Off shoulder belted wide leg jumpsuit</a></p>
            <p class="desc"><a href="#">$525</a></p>
        </div>
    </div>
</div>


<div class="Men-Carousel">
    <p>MEN'S NEW ARRIVALS</p>
    <div class="carousel">
        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1099570_110_1.png" class="default-image" alt="WESTWOOD">
                    <img src="/css/downloaded_images/Hires_PNG-1099570_110_2.png" class="hover-image" alt="WESTWOOD">
                </div>
            </a>
            <p class="label">WESTWOOD</p>
            <p class="desc">White leather cup sole sneakers</p>
            <p class="desc">$185</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1099570_201_1.png" class="default-image" alt="WESTWOOD">
                    <img src="/css/downloaded_images/Hires_PNG-1099570_201_2.png" class="hover-image" alt="WESTWOOD">
                </div>
            </a>
            <p class="label">WESTWOOD</p>
            <p class="desc">Black leather cup sole sneakers</p>
            <p class="desc">$185</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1099596_001_1.png" class="default-image"
                        alt="PARLIAMENT">
                    <img src="/css/downloaded_images/Hires_PNG-1099596_001_2.png" class="hover-image" alt="PARLIAMENT">
                </div>
            </a>
            <p class="label">PARLIAMENT</p>
            <p class="desc">Grained leather penny loafers</p>
            <p class="desc">$170</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1099597_200_1.png" class="default-image" alt="REGENT">
                    <img src="/css/downloaded_images/Hires_PNG-1099597_200_2.png" class="hover-image" alt="REGENT">
                </div>
            </a>
            <p class="label">REGENT</p>
            <p class="desc">Brown smooth leather derby shoes</p>
            <p class="desc">$170</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106732_410_1.png" class="default-image" alt="XADON">
                    <img src="/css/downloaded_images/Hires_PNG-1106732_410_2.png" class="hover-image" alt="XADON">
                </div>
            </a>
            <p class="label">XADON</p>
            <p class="desc">Nylon leather trim double zip backpack</p>
            <p class="desc">$295</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106728_201_1.png" class="default-image" alt="MALCOLM">
                    <img src="/css/downloaded_images/Hires_PNG-1106728_201_2.png" class="hover-image" alt="MALCOLM">
                </div>
            </a>
            <p class="label">MALCOLM</p>
            <p class="desc">Nylon leather trim messenger bag</p>
            <p class="desc">$295</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1106726_410_1.png" class="default-image" alt="ROMAN">
                    <img src="/css/downloaded_images/Hires_PNG-1106726_410_2.png" class="hover-image" alt="ROMAN">
                </div>
            </a>
            <p class="label">ROMAN</p>
            <p class="desc">Nylon leather detail crossbody bag</p>
            <p class="desc">$185</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-1100656_001_1.png" class="default-image" alt="CAVENDISH">
                    <img src="/css/downloaded_images/Hires_PNG-1100656_001_2.png" class="hover-image" alt="CAVENDISH">
                </div>
            </a>
            <p class="label">CAVENDISH</p>
            <p class="desc">Caviar Leather slim card holder</p>
            <p class="desc">$50</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/276065_NATURAL_1.png" class="default-image" alt="HOOKLY">
                    <img src="/css/downloaded_images/276065_NATURAL_2.png" class="hover-image" alt="HOOKLY">
                </div>
            </a>
            <p class="label">HOOKLY</p>
            <p class="desc">Ls jersey overshirt</p>
            <p class="desc">200</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/275561_NAVY_1.png" class="default-image" alt="ROJOR">
                    <img src="/css/downloaded_images/275561_NAVY_2.png" class="hover-image" alt="ROJOR">
                </div>
            </a>
            <p class="label">ROJOR</p>
            <p class="desc">Short sleeve zip through textured front polo</p>
            <p class="desc">$175</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-268057_451_2.png" class="default-image" alt="ZEITER">
                    <img src="/css/downloaded_images/Hires_PNG-268057_451_1.png" class="hover-image" alt="ZEITER">
                </div>
            </a>
            <p class="label">ZEITER</p>
            <p class="desc">Slim fit pure cotton polo shirt</p>
            <p class="desc">$120</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/275563_NATURAL_1.png" class="default-image" alt="ERIKS">
                    <img src="/css/downloaded_images/275563_NATURAL_2.png" class="hover-image" alt="ERIKS">
                </div>
            </a>
            <p class="label">ERIKS</p>
            <p class="desc">Short sleeve regular textured front t-shirt</p>
            <p class="desc">$225</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/275561_NATURAL_1.png" class="default-image" alt="ROJOR">
                    <img src="/css/downloaded_images/Hires_PNG-275561_103_2.png" class="hover-image" alt="ROJOR">
                </div>
            </a>
            <p class="label">ROJOR</p>
            <p class="desc">Short sleeve zip through textured front polo</p>
            <p class="desc">$175</p>
        </div>

        <div class="item">
            <a href="#">
                <div class="image-container">
                    <img src="/css/downloaded_images/Hires_PNG-268057_KHAKI_2.png" class="default-image" alt="ZEITER">
                    <img src="/css/downloaded_images/Hires_PNG-268057_KHAKI_1.png" class="hover-image" alt="ZEITER">
                </div>
            </a>
            <p class="label">ZEITER</p>
            <p class="desc">Slim fit pure cotton polo shirt</p>
            <p class="desc">$120</p>
        </div>
    </div>
</div>

<script>
  setTimeout(() => {
    const alert = document.querySelector('.alert');
    if (alert) alert.style.display = 'none';
  }, 3000);
</script>

