:root {
    --display: flex;
    --font: Helvetica, sans-serif;
    --p-display: inline-block;
    --hover-color: rgb(103, 98, 98);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
}

.Announcements {
    display: var(--display);
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #212121;
    color: white;
    height: 2rem;
    font-size: 13.65px;
    overflow: auto;
}

.Announcements p {
    display: var(--display);
    margin: 0 5rem;
    white-space: nowrap;
    color: white;
}

.Header {
    display: var(--display);
    height: 3.75rem;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.header-left {
    display: var(--display);
    align-items: center;
    gap: 0.75rem;
    position: inherit;
    margin-left: 2%;
}

.header-left p,
a {
    display: var(--p-display);
}

.header-left a:hover {
    color: var(--hover-color);
}

.header-center {
    display: var(--display);
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header-center img {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 2rem;
}

.header-right {
    display: var(--display);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-right: 2%;
}

.header-right svg {
    display: var(--display);
    height: 1.5rem;
    width: auto;
}

.Navbar {
    display: var(--display);
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Navbar .nav-links,
li {
    display: var(--display);
    gap: 0.75rem;
}

.nav-links li {
    font-size: 14px;
    position: relative;
    padding: 0.75rem;
    transition: color 0.5s ease;
}

.nav-links>li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.2px;
    bottom: 0;
    left: 30;
    background-color: #212121;
    transition: width 0.5s ease;
}

.nav-links>li:hover::after {
    width: 70%;
}

.Dropdown {
    position: absolute;
    top: 100%;
    font-size: 13.65px;
    gap: 1rem;
    width: max-content;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    opacity: 0;
}

.Dropdown a:hover {
    color: var(--hover-color);
}

.nav-links li:hover .Dropdown {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    opacity: 1;
    background-color: white;
}

.Mega-Menu-1 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100vw;
    transform: translateX(-47.45%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease, visibility 0.9s ease;
}

.Mega-Menu-2 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100vw;
    transform: translateX(-52.9%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease, visibility 0.9s ease;
}

.Mega-Menu-3 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100vw;
    transform: translateX(-57%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease, visibility 0.9s ease;
}

.Mega-Menu-1 .mega-content,
.Mega-Menu-2 .mega-content,
.Mega-Menu-3 .mega-content {
    display: var(--display);
    justify-content: center;
    align-self: center;
    gap: 4rem;
    padding-bottom: 2%;
}

.Mega-Menu-1 header,
.Mega-Menu-2 header,
.Mega-Menu-3 header {
    padding: 2rem 0 2rem 0;
    font-size: 13.65px;
}

.Mega-Menu-1 .mega-links li,
.Mega-Menu-2 .mega-links li,
.Mega-Menu-3 .mega-links li {
    display: var(--display);
    padding: 5%;
    width: max-content;
    font-size: 13.65px;
}

.Mega-Menu-1 .mega-links a:hover,
.Mega-Menu-2 .mega-links a:hover,
.Mega-Menu-3 .mega-links a:hover {
    color: var(--hover-color);
}

.nav-links li:hover .Mega-Menu-1,
.nav-links li:hover .Mega-Menu-2,
.nav-links li:hover .Mega-Menu-3 {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    background-color: white;
}

h1 {
    text-align: center;
    color: #333;
}

.task-list {
    max-width: 600px;
    margin: 0 auto;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    padding: 5px 10px;
    background-color: #a89a9a;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #aec1af;
}

iframe {
    display: block;
    width: 100%;
    height: 500px;
    border: 2px solid #ccc;
    margin-top: 20px;
}

.News-letter {
    display: var(--display);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e1e1;
    gap: 1.25rem;
    padding: 6rem;
}

.News-letter .heading {
    text-align: center;
    font-size: 21px;
    color: #212121;
}

.News-letter p {
    text-align: center;
    color: #383737;
}

.newsletter-form {
    display: var(--display);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.newsletter-form form {
    display: var(--display);
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.newsletter-form label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.input-container {
    display: var(--display);
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.input-container button {
    background: none;
    border: none;
    font-size: 11px;
    color: #555;
}

.input-container button:hover {
    color: #555;
}

.Footer {
    background-color: #f8f8f8;
    padding: 2rem 0;
    text-align: center;
}

.footer-links,
.footer-policies {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 0;
}

.footer-links a,
.footer-policies a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover,
.footer-policies a:hover {
    color: #555;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.social-media a {
    font-size: 20px;
    color: #212121;
    transition: transform 0.3s ease-in-out;
}

.social-media a:hover {
    transform: scale(1.2);
    color: #555;
}

.footer-copyright {
    font-size: 13px;
    color: #232222;
    margin: 2rem 0;
}


.payment-methods {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.payment-methods img {
    width: 40px;
    height: auto;
}